# NeoForge 1.21.1 uses Mojang-mapped names in access transformers.

# setRemoved
public-f net.minecraft.world.entity.Entity setRemoved(Lnet/minecraft/world/entity/Entity$RemovalReason;)V

# itemsById
public net.minecraft.network.syncher.SynchedEntityData itemsById

# entityMap
public net.minecraft.server.level.ChunkMap entityMap

public net.minecraft.server.level.ChunkMap$TrackedEntity
# seenBy
public net.minecraft.server.level.ChunkMap$TrackedEntity seenBy

# layers
public net.minecraft.client.renderer.entity.LivingEntityRenderer layers

# create
public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;ILnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType;
